@use '../styles/mixins';
@use '../styles/variables' as v;

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: v.$main-high;
    color: v.$main-low;
    padding: 0.6rem;
    gap: 1rem;
  
    &-logo {
      padding: 5px;
      min-width: 94px;

    }
  
    &-form {
      flex-grow: 1;
      display: flex;
      font-size: v.$text-smaller;
  
      &-filter {
        display: flex;
        align-items: center;
        border: none;
        border-right: 1px solid v.$main-low;
        background-color: v.$main-low;
        border-radius: v.$radius-medium 0 0 v.$radius-medium;
        color: v.$main-medium;
        padding: 0.5rem;
      }
  
      &-input {
        border: none;
        flex-grow: 1;
        padding: 0.5rem;
      }
  
      &-button {
        @include mixins.button(0 v.$radius-medium v.$radius-medium 0);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        border: none;
        background-color: v.$brand-primary;
      }
    }
  
    &-account {
      font-size: v.$text-smaller;
      min-width: 130px;
  
      .link--bold {
        font-weight: bold;
        font-size: v.$text-small;
      }
    }
  
    &-cart {
      display: flex;
      align-items: end;
      height: 30px;
    width: 5rem;
  
      &-count {
        position: relative;
        &-number {
          position: absolute;
          top: -15px;
          left: 15px;
          color: v.$brand-primary;
          font-weight: bold;
        }
      }
  
      &-title {
        font-weight: bold;
        font-size: v.$text-small;
        display: none;
      }
    }
    
    @include mixins.for-tablets {
      &-cart {
        &-title {
          display: block;
        }
      }
    }
  
    @include mixins.for-laptops {
      &-logo { order: 1 }
      &-form { order: 2 }
      &-account { order: 3 }
      &-cart { order: 4 }
    }
  }

.logo{
  height : 30px
}